* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    
}

/* Container */

.container {
    width: 80%;
    margin: auto;
    border: 1px solid black;
}

/* WELCOME SECTION */

#welcome-section {
    height: 60vh;
    background-color: salmon;
}

#welcome-section #topbar {
    display: flex;
    justify-content: space-around;
}

#topbar #logo {
    margin: 40px 0;
    font-weight: 1000;
    font-size: 22px;
    color: hsl(0, 0%, 100%);
}

#topbar #navbar {
    padding: 6px;
    margin-right: 280px; /* Make it closer to the Logo */
    margin-top: 48px;
    
}

#topbar #navbar ul{
    display: flex;
}

#topbar #navbar ul li a{
    padding: 0 8px;
    color: hsl(0, 0%, 88%);
    font-size: 14px;
    font-weight: 700;
}

#topbar #navbar i {
    color: hsl(0, 0%, 88%);
    font-size: 10px;
    margin: 0 5px;
}

#topbar #account {
    padding: 6px;
    margin: 49px 0;
}

#topbar #account ul{
    display: flex;
}

#topbar #account ul li a {
    padding: 10px 35px;
    color: hsl(0, 0%, 83%);
    font-size: 14px;
    font-weight: 700;
    transition: all .1s ease-in-out;
    
}

/* HOVER STATE NAVBAR */
#topbar #navbar a:hover {
    text-decoration: underline;
    color: #ffffff;
}

/* HOVER STATE ACCOUNT */
#topbar #account ul li a:hover {
    cursor: pointer;
    background-color: hsl(355, 63%, 57%);
    color: #ffffff;
    border-radius: 20px;
}

/* HERO SECTION */
/*
#hero {
    margin: 0 auto;
}*/